{% extends "base.html" %}

{% block content %}
{% for i in local_detail %}

<div class="container">
    <div class="jumbotron clearfix" style="margin-top:50px;">
        <div class="col-md-7">
            <p>title : {{ i.title }}<br>name: {{i.name}}<br>price : {{ i.Price }}<br>time : {{ i.Duration }}<br>Tour Local : {{ i.City }} <br>Enable Language : {{ i.Language }}<br>Visited_country : {{ i.Visited_country }} <br>Next_country : {{ i.next_country }}<br>Interest : {{i.interest}} <br> Content : {{ i.contet }}<br> Guide at: {{i.guide_at}}<br>Email : {{i.email }}</p>
        </div>
        <div class="col-md-5">
            <a href="#" class="btn btn-primary" style="margin:30px 0;width:333px; height:120px"><h1 class="text-center">book now</h1></a>
        </div>
    </div>
    
</div>

{% endfor %}
{% endblock %}