{% extends "base.html" %}

{% block content %}

<body>

    {% for i in local_list %}
    
        <div class="container">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
            <div class="well clearfix" style="background-color:rgb(243,243,243); margin:15px auto; padding:10px;">
                <article class="box">
                    <a href="{% url 'travel:local_detail_form' i.City i.pk %}">
                        <figure class="col-sm-3 col-xs-5">
                            <img src="{{ i.img.url }}" style="max-height:140px; width:100%">
                            <div style="text-align:center; background:#fff;padding:3px 10px">{{ i.Tourtype }}</div>
                        </figure>
                        <div class="detail result col-sm-9 col-xs-7">
                            <div class="clearfix row">
                                <h4 class="box-title col-xs-10">
                                      {{ i.title }}  <br>
                                    <small>Provided by Generaion {{ i.name }}</small>
                                </h4>
                                <span class="price col-xs-2">
                                    <small>from </small>{{ i.Price }}<br>
                                    <small>Tip based</small>
                                </span>
                            </div>
                        </div>
                        <div class="detail result col-sm-7 col-xs-4" style="height:58px">
                            {{ i.BriefContent }}
                        </div>
                        <div class="col-sm-3"># {{i.HashTag}}</div>
                    </a>
                </article>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}

</body>
</html>

{% endblock %}
