<div class="col-sm-12 col-md-9 nopadding">
    <div class="cruise-list listing-style3 cruise">
        <article class="box" style='background:#fed'>
	<a href="budapest/the-backpacker-pubcrawl-budapest">
		<div class="col-md-12">
			<h6 style="border-bottom:1px dotted #fba749;color:#fba749;font-weight:bold;font-size:76%;padding-bottom:8px;margin-bottom:8px;margin-top:-7px;">Featured tour</h6>
		</div>
		<figure class="col-sm-3 col-xs-5">
			<img src="https://admin.freetour.com/images/tours/5/the-backpacker-pubcrawl---budapest-01.jpg" style='max-height:140px'/>
			<div style='text-align:center;background:#fff;padding:3px 10px'>Night life</div>
			<div style='position: absolute;top: 15px;color:#fff;font-weight:bold;' class='hidden-xs'><span style='background:#fba749;margin-left:-15px;padding:2px 2px 2px 15px;'>VERY POPULAR</span><span style='background:transparent url("/images/corner stuff orange-04.png") no-repeat;width: 10px;display: inline-block;height:20px;float: right'></span></div>
		</figure>
		<div class="details result col-sm-9 col-xs-7">
		    <div class="clearfix row">
			    <h4 class="box-title col-xs-9">Pub Crawl Budapest
				    <img data-toggle="tooltip" data-placement="right" id='rec-tour-image' src='/images/thumb-recommended2.png' title='This tour is recommended by FREETOUR.com based on the feedback we have often received from travelers.' style='cursor:help'/>
				    <small>Provided by The Backpacker Pubcrawl</small>
				    <div style='color:#fff;font-weight:bold;background:#fba749' class='hide-sm hidden-md hidden-lg'>VERY POPULAR</div>
				</h4>
				<span class="price col-xs-3">
					&euro;12<small style='color:#1b4e8b'>Discount available</small>
				</span>
			</div>

		<div class="clearfix mtop">
			<div class='review' style='height:58px'>
				Budapest is known worldwide for it’s electric nightlife. Home to the unique and wonderfully odd ruin bars, insane nightclubs and bars that never close. 
			</div>
		</div>
			<div class="character  badged " style='float:left;margin-top:10px'>
				<div class="col-md-5 col-sm-12 col-xs-12 cruise-logo">
				    <div>
						<span style='display:inline-block;border:1px solid transparent;padding:3px 5px;float:left;margin:5px 7px 5px 0px;background:#fba749;color:#fff;border-radius: 3px;font-weight:bold'>8.6</span>
						<span class="dark-blue-color ">Rating</span><br/><span><i class="fa fa-comment-o"></i> 42</span>
					</div>
				</div>
				<div class="col-md-5 hide-sm cruise-logo hide-mob">
					<div>
						<span class="dark-blue-color ">Languages</span><br>English
                    </div>
				</div>
				<div class="col-md-2 hide-sm cruise-logo hide-mob">
					<div>
						<span class="dark-blue-color ">Duration</span><br>5:00
					</div>
				</div>
				<div style="clear:both"></div>
			</div>
			<button class="button btn-small pull-right hide-mob">Details</button>
		</div>
	</a>
</article>
</div>
</div>